@font-face{
    font-family: 'Poppins';
    src: url('poppins-regular.woff') format('woff'),
         url('poppins-regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: 'Poppins';
    src: url('poppins-medium.woff') format('woff'),
         url('poppins-medium.ttf') format('ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: 'Poppins';
    src: url('poppins-semibold.woff') format('woff'),
         url('poppins-semibold.ttf') format('ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face{
    font-family: 'Poppins';
    src: url('poppins-bold.woff') format('woff'),
         url('poppins-bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: 'Poppins';
    src: url('poppins-extrabold.woff') format('woff'),
         url('poppins-extrabold.ttf') format('ttf');
    font-style: normal;
    font-weight: 800;
}
